<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--configuration里面的配置需要遵守一定的顺序-->
    <!--引入外部配置文件-->
    <properties resource="db.properties"/>
<!--    如果在这里的properties里面加一些配置，那么优先使用外部的配置文件-->

<!--    <typeAliases>-->
<!--        <typeAlias type="com.lorry.pojo.User" alias="User"/>-->
<!--    </typeAliases>-->

    <!--指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean，这时候下面的实体类不区分大小写-->
    <!--指定了包才能使用注解-->
    <typeAliases>
        <package name="com.lorry.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
<!--每一个mapper.xml都需要在Mybatis核心配置文件中注册！-->
    <mappers>
        <mapper resource="UserMapper.xml"></mapper>
    </mappers>
</configuration>